<h1><%= @playlist.name() %></h1>

<div class="container">
  <ul>
    <% @songs.each() do |song| %>
    <li>Artist: <%= song.artist() %>, Song: <%= song.song() %>, Genre: <%= song.genre() %></li>
    <% end %>
  </ul>
</div>

<div class='container'>
  <a href='/playlist/<%= @playlist.id() %>/songs/new'>Add New Song</a>
</div>
