<h1><%= @playlist.name().upcase() %></h1>

<div class="container playlist">
  <ul>
    <% @songs.each() do |song| %>
    <li>Artist: <%= song.artist() %>, Song: <%= song.song() %>, Genre: <%= song.genre() %></li>
    <% end %>
  </ul>
</div>


  <a class="btn btn-outline-danger" role="button" href='/playlist/<%= @playlist.id() %>/songs/new'>Add New Song</a>

  <button type="button" name="button" class="clickme">Hello</button>
</div>
